openapi: 3.2.0
info:
  version: v1
  title: IDWS Vehicle Service Vehicle Options API
servers:
- url: https://idws-sandbox.datasolutions.coxautoinc.com
security:
- apiKey: []
tags:
- name: VehicleOptions
paths:
  /idws/vehicle/vehicleoptions:
    get:
      tags:
      - VehicleOptions
      summary: Gets a list of vehicle options
      operationId: IdwsVehicleVehicleoptionsGet
      parameters:
      - name: vehicleId
        in: query
        description: Vehicle ID match will be returned.
        required: false
        schema:
          type: integer
          format: int32
      - name: optionFilter
        in: query
        description: Filter used for vehicle options
        required: false
        schema:
          type: string
          enum:
          - All
          - TypicalOnly
          - EDT
      - name: applicationFilter
        in: query
        description: Dealer or Consumer. If not specified, all vehicle options will be returned.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of vehicle options to return. Default is 25.
        required: false
        schema:
          type: integer
          format: int32
      - name: start
        in: query
        description: Index of the vehicle options that begins the returned set.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Vehicle.Domain.Common.Models.VRSRepo.VRSVehicleOptionsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
components:
  schemas:
    IDWS.Vehicle.Domain.Common.Models.VRSRepo.VRSVehicleOptionsResponseModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Vehicle.Domain.Common.Models.VRSRepo.VRSVehicleOptionsResponseModel_VehicleOption'
        first:
          type: string
        next:
          type: string
        previous:
          type: string
        limit:
          format: int32
          type: integer
        count:
          format: int32
          type: integer
    IDWS.Platform.ResponseMessage.ReturnResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
    IDWS.Vehicle.Domain.Common.Models.VRSRepo.VRSVehicleOptionsResponseModel_VehicleOption:
      type: object
      properties:
        vehicleOptionId:
          format: int32
          type: integer
        vehicleId:
          format: int32
          type: integer
        optionType:
          type: string
        optionName:
          type: string
        secondaryName:
          type: string
        detailName:
          type: string
        footer:
          type: string
        categoryName:
          type: string
        categoryGroup:
          type: string
        oemCode:
          type: string
        availability:
          type: string
        sortOrder:
          format: int32
          type: integer
        isConsumer:
          type: boolean
        isTypical:
          type: boolean
        isConfigurable:
          type: boolean
        hasRelationships:
          type: boolean
    IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      name: api_key
      in: query
      type: apiKey
      description: Mashery API Key
