openapi: 3.2.0
info:
  version: v1
  title: IDWS Vehicle Service Cpo Programs API
servers:
- url: https://idws-sandbox.datasolutions.coxautoinc.com
security:
- apiKey: []
tags:
- name: CpoPrograms
paths:
  /idws/vehicle/cpoprograms:
    get:
      tags:
      - CpoPrograms
      summary: Get CPO Program Details
      operationId: IdwsVehicleCpoprogramsGet
      parameters:
      - name: makeId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int32
      - name: start
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.CpoPrograms.CpoProgramsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
components:
  schemas:
    IDWS.Vehicle.Contracts.Contracts.V1.CpoPrograms.CpoProgramsResponse_CpoProgramsContract:
      type: object
      properties:
        programId:
          format: int32
          type: integer
        makeId:
          format: int32
          type: integer
        makeName:
          type: string
        programName:
          type: string
        inspectionPoints:
          type: string
        maxYears:
          type: string
        maxMileage:
          type: string
        powertrainWarrantyMonths:
          type: string
        powertrainWarrantyMiles:
          type: string
        powertrainWarrantyText:
          type: string
        limitedWarrantyMonths:
          type: string
        limitedWarrantyMiles:
          type: string
        limitedWarrantyText:
          type: string
        roadsideAssistance:
          type: string
        vehicleHistoryReport:
          type: string
        notes:
          type: string
        warrantyDeductible:
          type: string
        warrantyTransferable:
          type: string
    IDWS.Platform.ResponseMessage.ReturnResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
    IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    IDWS.Vehicle.Contracts.Contracts.V1.CpoPrograms.CpoProgramsResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.CpoPrograms.CpoProgramsResponse_CpoProgramsContract'
        first:
          type: string
        next:
          type: string
        previous:
          type: string
        limit:
          format: int32
          type: integer
        count:
          format: int32
          type: integer
  securitySchemes:
    apiKey:
      name: api_key
      in: query
      type: apiKey
      description: Mashery API Key
