openapi: 3.2.0
info:
  version: v1
  title: IDWS Editorial Service Expert Reviews API
servers:
- url: https://idws-sandbox.datasolutions.coxautoinc.com
security:
- apiKey: []
tags:
- name: ExpertReviews
paths:
  /idws/editorial/expertreviews/id/{vehicleId}:
    get:
      tags:
      - ExpertReviews
      summary: Gets the Kelley Blue Book Expert Reviews for a vehicle
      operationId: IdwsEditorialExpertreviewsIdByVehicleIdGet
      parameters:
      - name: vehicleId
        in: path
        description: The vehicleId for which to fetch the Expert Reviews
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Editorial.Contracts.Contracts.V1.ExpertReviewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
components:
  schemas:
    IDWS.Platform.ResponseMessage.ReturnResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
    IDWS.Editorial.Contracts.Contracts.V1.ExpertReviewResponse:
      type: object
      properties:
        year:
          format: int32
          type: integer
        make:
          type: string
        model:
          type: string
        reviewSections:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Editorial.Contracts.Contracts.V1.ReviewSection'
        authorName:
          type: string
        publishDate:
          type: string
    IDWS.Editorial.Contracts.Contracts.V1.ReviewSection:
      type: object
      properties:
        sectionHeader:
          type: string
        text:
          type: string
    IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      name: api_key
      in: query
      type: apiKey
      description: Mashery API Key
