openapi: 3.2.0
info:
  version: v1
  title: Batch VIN Batch Jobs API
  description: '#### Setting up Authorization on this "Try Me!" page

    1.'
servers:
- url: https://sandbox.api.kbb.com/idbv
tags:
- name: Batch Jobs
paths:
  /BatchJobs:
    get:
      security:
      - Authorization: []
      - apiKey: []
      tags:
      - Batch Jobs
      operationId: BatchJobs_GetBatchJobs
      parameters:
      - name: fromDate
        in: query
        description: Any BatchJobs returned that are more than 90 days old will not have input & output files available
        required: false
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: Comma separated list of ints (0=Created,1=Running,2=Suspended,3=Terminated,4=Completed)
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        description: CreatedBy, BatchJobStatus, or AccountName
        required: false
        schema:
          type: string
          enum:
          - CreatedBy
          - BatchJobStatus
          - AccountName
      - name: orderDirection
        in: query
        description: desc (default) or asc
        required: false
        schema:
          type: string
          enum:
          - desc
          - asc
      - name: pageNumber
        in: query
        description: default = 1
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: default = 100
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      summary: Batch jobs get batch jobs
      x-summary-source: derived
    post:
      security:
      - Authorization: []
      - apiKey: []
      tags:
      - Batch Jobs
      operationId: BatchJobs_PostBatchJob
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchJobPostDetails'
        required: true
      summary: Batch jobs post batch job
      x-summary-source: derived
  /BatchJobs/{id}:
    get:
      security:
      - Authorization: []
      - apiKey: []
      tags:
      - Batch Jobs
      operationId: BatchJobs_GetBatchJob
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      summary: Batch jobs get batch job
      x-summary-source: derived
  /batchjobs/{id}/output:
    get:
      security:
      - Authorization: []
      - apiKey: []
      tags:
      - Batch Jobs
      operationId: BatchJobs_GetBatchJobOutputFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileType
        in: query
        required: false
        schema:
          type: string
          enum:
          - csv
          - txt
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      summary: Batch jobs get batch job output file
      x-summary-source: derived
  /batchjobs/{id}/input:
    get:
      security:
      - Authorization: []
      - apiKey: []
      tags:
      - Batch Jobs
      operationId: BatchJobs_GetBatchJobInputFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: fileType
        in: query
        required: false
        schema:
          type: string
          enum:
          - csv
          - txt
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      summary: Batch jobs get batch job input file
      x-summary-source: derived
  /batchjobs/{id}/cancel:
    put:
      security:
      - Authorization: []
      - apiKey: []
      tags:
      - Batch Jobs
      operationId: BatchJobs_CancelBatchJob
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      summary: Batch jobs cancel batch job
      x-summary-source: derived
components:
  schemas:
    BatchJobPostDetails:
      type: object
      properties:
        DataVersionDate:
          type: string
          required: true
          default: 00/00/0000
        BatchJobOutputType:
          type: string
          enum:
          - Used
          - New
          required: true
        ZipCode:
          type: string
          required: true
          default: '92618'
        InputType:
          type: string
          enum:
          - Standard
          - Dynamic
        VINColumnID:
          format: int32
          type: integer
        MileageColumnID:
          format: int32
          type: integer
        ZipCodeColumnID:
          format: int32
          type: integer
        RecordIDColumnID:
          format: int32
          type: integer
        HasHeader:
          type: boolean
          default: false
        InputFileName:
          type: string
          default: DefaultInputFileName.csv
          required: true
        ConfiguredValues:
          type: boolean
          default: false
        FinalValues:
          type: boolean
          default: true
        UsedCarFairPurchasePrice:
          type: boolean
          default: false
        UsedCarFairMarketRange:
          type: boolean
          default: false
        Lending:
          type: boolean
          default: false
        Retail:
          type: boolean
          default: false
        CPO:
          type: boolean
          default: false
        ListPrice:
          type: boolean
          default: false
        AuctionAll:
          type: boolean
          readOnly: true
          default: false
        AuctionExcellent:
          type: boolean
          default: false
        AuctionVeryGood:
          type: boolean
          default: false
        AuctionGood:
          type: boolean
          default: false
        AuctionFair:
          type: boolean
          default: false
        PrivatePartyAll:
          type: boolean
          readOnly: true
          default: false
        PrivatePartyExcellent:
          type: boolean
          default: false
        PrivatePartyVeryGood:
          type: boolean
          default: false
        PrivatePartyGood:
          type: boolean
          default: false
        PrivatePartyFair:
          type: boolean
          default: false
        TradeInAll:
          type: boolean
          readOnly: true
          default: false
        TradeInExcellent:
          type: boolean
          default: false
        TradeInVeryGood:
          type: boolean
          default: false
        TradeInGood:
          type: boolean
          default: false
        TradeInFair:
          type: boolean
          default: false
        TradeInExcellentHigh:
          type: boolean
          default: false
        TradeInVeryGoodHigh:
          type: boolean
          default: false
        TradeInGoodHigh:
          type: boolean
          default: false
        TradeInFairHigh:
          type: boolean
          default: false
        TradeInExcellentLow:
          type: boolean
          default: false
        TradeInVeryGoodLow:
          type: boolean
          default: false
        TradeInGoodLow:
          type: boolean
          default: false
        TradeInFairLow:
          type: boolean
          default: false
        Invoice:
          type: boolean
          default: false
        LegacyOutputFileFormat:
          type: boolean
          default: false
        MSRP:
          type: boolean
          default: false
        NewCarFairPurchasePrice:
          type: boolean
          default: false
        NewCarFairMarketRange:
          type: boolean
          default: false
        ShowOptionNames:
          type: boolean
        MultipleModelsType:
          type: string
          enum:
          - All
          - High
          - Low
          default: All
        MultipleTrimsType:
          type: string
          enum:
          - All
          - High
          - Low
          default: All
        BaseValueType:
          type: string
          default: None
        Emails:
          type: string
          default: youremail@test.com
          required: true
        BatchJobNotes:
          type: string
        FileData:
          type: string
          default: 137DA8337SE165779
          required: true
        CheckDigitFlag:
          type: boolean
    Object:
      type: object
      properties: {}
  securitySchemes:
    Authorization:
      type: apiKey
      description: 'Authorization value: "Bearer {access_token}" where access_token is received by a successful post to api/token

        '
      in: header
      name: Authorization
    apiKey:
      type: apiKey
      description: API Key
      in: query
      name: api_key
