openapi: 3.2.0
info:
  version: v1
  title: IDWS Editorial Service Expert Ratings API
servers:
- url: https://idws-sandbox.datasolutions.coxautoinc.com
security:
- apiKey: []
tags:
- name: ExpertRatings
paths:
  /idws/editorial/expertratings/id/{vehicleId}:
    get:
      tags:
      - ExpertRatings
      summary: Gets the Kelley Blue Book Expert Ratings for a vehicle
      operationId: IdwsEditorialExpertratingsIdByVehicleIdGet
      parameters:
      - name: vehicleId
        in: path
        description: The vehicleId for which to fetch the Expert Ratings
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Editorial.Contracts.Contracts.V1.ExpertRatingResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
components:
  schemas:
    IDWS.Editorial.Contracts.Contracts.V1.ExpertRatingResponse:
      type: object
      properties:
        ratings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Editorial.Contracts.Contracts.V1.ExpertRatingResponse_Rating'
        ratingScale:
          format: int32
          type: integer
          readOnly: true
        year:
          format: int32
          type: integer
        make:
          type: string
        model:
          type: string
        vehicleId:
          format: int32
          type: integer
    IDWS.Platform.ResponseMessage.ReturnResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
    IDWS.Editorial.Contracts.Contracts.V1.ExpertRatingResponse_Rating:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      name: api_key
      in: query
      type: apiKey
      description: Mashery API Key
