openapi: 3.2.0
info:
  version: v1
  title: IDWS Vehicle Service Models API
servers:
- url: https://idws-sandbox.datasolutions.coxautoinc.com
security:
- apiKey: []
tags:
- name: Models
paths:
  /idws/vehicle/models:
    get:
      tags:
      - Models
      summary: Gets a list of models
      operationId: IdwsVehicleModelsGet
      parameters:
      - name: vehicleClass
        in: query
        description: NewCar or UsedCar. If not specified, all models will be returned.
        required: false
        schema:
          type: string
      - name: applicationFilter
        in: query
        description: Dealer or Consumer. If not specified, all models will be returned.
        required: false
        schema:
          type: string
      - name: yearId
        in: query
        description: Limits the output to only those models manufactured during the specified year
        required: false
        schema:
          type: integer
          format: int32
      - name: makeId
        in: query
        description: Limits the output to only those models manufactured by the specifed make
        required: false
        schema:
          type: integer
          format: int32
      - name: bodyStyle
        in: query
        description: Limits the output to only those models manufactured by the specifed body style
        required: false
        schema:
          type: string
      - name: marketingCategory
        in: query
        description: Limits the output to only those models manufactured by the specifed marketing category
        required: false
        schema:
          type: string
      - name: isCPOEligible
        in: query
        description: Limits the output to only those models manufactured by CPO eligibility
        required: false
        schema:
          type: boolean
      - name: limit
        in: query
        description: Maximum number of models to return. Default is 25.
        required: false
        schema:
          type: integer
          format: int32
      - name: start
        in: query
        description: Index of the model that begins the returned set.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ModelsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  /idws/vehicle/models/id/{modelId}:
    get:
      tags:
      - Models
      summary: Gets a model
      operationId: IdwsVehicleModelsIdByModelIdGet
      parameters:
      - name: modelId
        in: path
        description: The model to return
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ModelsResponse_ModelContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
components:
  schemas:
    IDWS.Vehicle.Contracts.Contracts.V1.ModelsResponse_ModelContract:
      type: object
      properties:
        modelId:
          format: int32
          type: integer
        modelName:
          type: string
        modelMarketName:
          type: string
        makeId:
          format: int32
          type: integer
        makeName:
          type: string
    IDWS.Platform.ResponseMessage.ReturnResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
    IDWS.Vehicle.Contracts.Contracts.V1.ModelsResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ModelsResponse_ModelContract'
        first:
          type: string
        next:
          type: string
        previous:
          type: string
        limit:
          format: int32
          type: integer
        count:
          format: int32
          type: integer
    IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      name: api_key
      in: query
      type: apiKey
      description: Mashery API Key
