openapi: 3.2.0
info:
  title: Cox Automotive Error Codes API
  version: v1
  description: 'Operations tagged ErrorCodes across 2 of this provider''s published API definitions: cox-automotive-kbb-idws-editorial-openapi.json, cox-automotive-kbb-idws-vehicle-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://idws-sandbox.datasolutions.coxautoinc.com
security:
- apiKey: []
tags:
- name: ErrorCodes
paths:
  /idws/editorial/errorcodes:
    get:
      tags:
      - ErrorCodes
      operationId: IdwsEditorialErrorcodesGet
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      summary: Idws editorial errorcodes get
      x-summary-source: derived
    servers:
    - url: https://idws-sandbox.datasolutions.coxautoinc.com
  /idws/vehicle/errorcodes:
    get:
      tags:
      - ErrorCodes
      summary: Gets a list of error codes for IDWS Vehicle referencing from VRS
      operationId: IdwsVehicleErrorcodesGet
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '500':
          description: Server Error
    servers:
    - url: https://idws-sandbox.datasolutions.coxautoinc.com
components:
  schemas:
    IDWS.Platform.ResponseMessage.ReturnResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
    IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      name: api_key
      in: query
      type: apiKey
      description: Mashery API Key
x-refined-from:
- cox-automotive-kbb-idws-editorial-openapi.json
- cox-automotive-kbb-idws-vehicle-openapi.json
