openapi: 3.2.0
info:
  version: v1
  title: IDWS Vehicle Service Typicals API
servers:
- url: https://idws-sandbox.datasolutions.coxautoinc.com
security:
- apiKey: []
tags:
- name: Typicals
paths:
  /idws/vehicle/typicals:
    get:
      tags:
      - Typicals
      summary: Gets Typical Mileage List of a Vehicle
      operationId: IdwsVehicleTypicalsGet
      parameters:
      - name: vehicleId
        in: query
        description: Vehicle ID match will be returned.
        required: false
        schema:
          type: string
      - name: valuationDate
        in: query
        description: ValuationDate Format e.g. 05/08/2019
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of typical mileage lists to return. Default is 25.
        required: false
        schema:
          type: integer
          format: int32
      - name: start
        in: query
        description: Index of the typical mileage that begins the returned set.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.Typicals.TypicalsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
components:
  schemas:
    IDWS.Platform.ResponseMessage.ReturnResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
    IDWS.Vehicle.Contracts.Contracts.V1.Typicals.TypicalsResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.Typicals.TypicalsResponse_TypiacalResponseModel'
        first:
          type: string
        next:
          type: string
        previous:
          type: string
        limit:
          format: int32
          type: integer
        count:
          format: int32
          type: integer
    IDWS.Vehicle.Contracts.Contracts.V1.Typicals.TypicalsResponse_TypiacalResponseModel:
      type: object
      properties:
        vehicleId:
          format: int32
          type: integer
        valuationDate:
          type: string
        mileage:
          format: int32
          type: integer
    IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      name: api_key
      in: query
      type: apiKey
      description: Mashery API Key
