openapi: 3.2.0
info:
  version: v1
  title: IDWS Vehicle Service Validate Configuration API
servers:
- url: https://idws-sandbox.datasolutions.coxautoinc.com
security:
- apiKey: []
tags:
- name: ValidateConfiguration
paths:
  /idws/vehicle/validateconfiguration:
    post:
      tags:
      - ValidateConfiguration
      summary: Examines a collection of VehicleOptions to determine if they are a valid…
      operationId: IdwsVehicleValidateconfigurationPost
      parameters:
      - name: applicationFilter
        in: query
        description: Set to "Consumer" to exclude options available to dealers or fleet purchases only
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.ValidateConfigurationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.ValidateConfigurationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.ValidateConfigurationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.ValidateConfigurationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.ValidateConfigurationRequest'
components:
  schemas:
    IDWS.Platform.ResponseMessage.ReturnResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
    IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.ValidateConfigurationRequest:
      type: object
      properties:
        startingConfiguration:
          $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.VehicleConfigurationModel'
    IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.ValidateConfigurationResponse:
      type: object
      properties:
        isValid:
          type: boolean
        finalConfiguration:
          $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.VehicleConfigurationModel'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.WarningModel'
    IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.WarningModel:
      type: object
      properties:
        type:
          type: string
        code:
          type: string
        message:
          type: string
        parentId:
          format: int32
          type: integer
        childIds:
          type: array
          items:
            format: int32
            type: integer
    IDWS.Vehicle.Contracts.Contracts.V1.ValidateConfiguration.VehicleConfigurationModel:
      type: object
      properties:
        vehicleId:
          format: int32
          type: integer
        vehicleOptionIds:
          type: array
          items:
            format: int32
            type: integer
    IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      name: api_key
      in: query
      type: apiKey
      description: Mashery API Key
