openapi: 3.2.0
info:
  version: v1
  title: IDWS Vehicle Service Apply Configuration API
servers:
- url: https://idws-sandbox.datasolutions.coxautoinc.com
security:
- apiKey: []
tags:
- name: ApplyConfiguration
paths:
  /idws/vehicle/applyconfiguration:
    post:
      tags:
      - ApplyConfiguration
      summary: Takes a collection of ConfigurationChanges and applies them to a specified…
      operationId: IdwsVehicleApplyconfigurationPost
      parameters:
      - name: applicationFilter
        in: query
        description: Set to "Consumer" to omit option selections available to dealers or fleet purchases only
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.ApplyConfigurationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.ApplyConfigurationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.ApplyConfigurationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.ApplyConfigurationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.ApplyConfigurationRequest'
components:
  schemas:
    IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.VehicleConfigurationModel:
      type: object
      properties:
        vehicleId:
          format: int32
          type: integer
        vehicleOptionIds:
          type: array
          items:
            format: int32
            type: integer
    IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.ApplyConfigurationResponse:
      type: object
      properties:
        finalConfiguration:
          $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.VehicleConfigurationModel'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.WarningModel'
    IDWS.Platform.ResponseMessage.ReturnResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
    IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.WarningModel:
      type: object
      properties:
        type:
          type: string
        code:
          type: string
        message:
          type: string
        parentId:
          format: int32
          type: integer
        childIds:
          type: array
          items:
            format: int32
            type: integer
    IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.ApplyConfigurationRequest:
      type: object
      properties:
        startingConfiguration:
          $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.VehicleConfigurationModel'
        configurationChanges:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.VehicleConfigurationChangeModel'
    IDWS.Vehicle.Contracts.Contracts.V1.ApplyConfiguration.VehicleConfigurationChangeModel:
      type: object
      properties:
        sequence:
          format: int32
          type: integer
        vehicleOptionId:
          format: int32
          type: integer
        action:
          type: string
    IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      name: api_key
      in: query
      type: apiKey
      description: Mashery API Key
