openapi: 3.2.0
info:
  version: v1
  title: IDWS Vehicle Service Links API
servers:
- url: https://idws-sandbox.datasolutions.coxautoinc.com
security:
- apiKey: []
tags:
- name: Links
paths:
  /idws/vehicle/links/id/{vehicleId}:
    get:
      tags:
      - Links
      summary: Gets a link to a vehicle on kbb.com
      operationId: IdwsVehicleLinksIdByVehicleIdGet
      parameters:
      - name: vehicleId
        in: path
        description: The vehicleId to link to
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Vehicle.Domain.Common.Models.External.LinksResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
components:
  schemas:
    IDWS.Platform.ResponseMessage.ReturnResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage'
    IDWS.Vehicle.Domain.Common.Models.External.LinksResponseModel:
      type: object
      properties:
        vehicleId:
          format: int32
          type: integer
        ymmURL:
          type: string
    IDWS.Platform.ResponseMessage.ReturnResponse_ResponseMessage:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      name: api_key
      in: query
      type: apiKey
      description: Mashery API Key
